<main aria-labelledby="header" class="relative overflow-hidden">
  <h2 class="sr-only" id="header">Header</h2>
  <div class="relative mx-auto px-8 max-w-7xl py-12 lg:py-24 lg:px-36 md:px-12">
    <div
      class="grid grid-cols-1 gap-6 py-12 lg:gap-y-32 md:grid-cols-2 lg:grid-cols-2">
      <!-- Tostada x12 -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/blob-0036.png"
          alt="Tostada x12"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">Tostada 12 unidades</p>
          </div>
          <p class="text-base text-tomato-500">$1.600</p>
        </div>
      </figure>
      <!-- Tostada x24 -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/blob-0036.png"
          alt="Tostada x24"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Tosatada 24 unidades
            </p>
          </div>
          <p class="text-base text-tomato-500">$3.350</p>
        </div>
      </figure>
      <!-- Cotudos x10 -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Cotudos.jpeg/:/rt=d:90/cr=t:6.81%25,l:0%25,w:100%25,h:66.67%25/rs=w:600,h:300,cg:true"
          alt="Cotudos"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Pan dulce
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Cotudos x10 Unidades
            </p>
          </div>
          <p class="text-base text-tomato-500">$1.800</p>
        </div>
      </figure>
      <!-- Mogolla coco -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Mogolla%20Coco%202.jpeg/:/rt=d:90/cr=t:16.67%25,l:0%25,w:100%25,h:66.67%25/rs=w:600,h:300,cg:true"
          alt="Mogolla coco"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Mogolla sabor coco
            </p>
          </div>
          <p class="text-base text-tomato-500">$2.600</p>
        </div>
      </figure>
      <!-- Mogolla integral -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Mogolla%20Integral.jpeg/:/rt=d:90/cr=t:13.9%25,l:0%25,w:100%25,h:72.19%25/rs=w:600,h:300,cg:true"
          alt="Mogolla integral"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Mogolla integral
            </p>
          </div>
          <p class="text-base text-tomato-500">$2.150</p>
        </div>
      </figure>
      <!-- Mogolla Miel -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Mogolla%20Integral.jpeg/:/rt=d:90/cr=t:13.9%25,l:0%25,w:100%25,h:72.19%25/rs=w:600,h:300,cg:true"
          alt="Mogolla Miel"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Mogolla sabor Miel 
            </p>
          </div>
          <p class="text-base text-tomato-500">$3.100</p>
        </div>
      </figure>
      <!-- Pan x12 -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Calentano-0001.jpeg"
          alt="Pan x12"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Pan 12 unidades
            </p>
          </div>
          <p class="text-base text-tomato-500">$2.000</p>
        </div>
      </figure>
      <!-- Pan maiz -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Pan%20Maiz.jpeg"
          alt="Pan maiz"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Pan de Maíz
            </p>
          </div>
          <p class="text-base text-tomato-500">$2.200</p>
        </div>
      </figure>
      <!-- Pan tajado -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Pan%20Tajado%20Grande%20y%20Mini.jpeg"
          alt="Pan tajado"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Panadería
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Pan tajado
            </p>
          </div>
          <p class="text-base text-tomato-500">$3.700</p>
        </div>
      </figure>
      <!-- Tajado Mantequilla -->
      <figure>
        <img
          class="w-full rounded-3xl shadow-2xl"
          src="https://img1.wsimg.com/isteam/ip/31507032-0a91-4254-b34b-2021f9b4b04a/Pan%20Tajado%20Mantequilla.jpeg"
          alt="Pan Tajado Mantequilla"
          width="1310"
          height="873"
        />
        <div class="mt-4 flex justify-between px-6">
          <div>
            <h3 class="text-sm text-negroni-500">
<!--               <a href="#"> -->
                <span aria-hidden="true" class="absolute inset-0"></span>
                Pan tajado
              </a>
            </h3>
            <p class="mt-1 text-lg font-medium leading-6 text-white">
              Pan Tajado Mantequilla
            </p>
          </div>
          <p class="text-base text-tomato-500">$3.850</p>
        </div>
      </figure>
    </div>
  </div>
</main>
